---
layout: default
title: Blog
---

<div class="posts">

  {% for post in paginator.posts %} 
  
    <article class="post">


      <h2 class="index-page-titles"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      
      <a href="{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.alt }}"></a>

      <div class="entry">
        {{ post.excerpt }}...
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

    </article>
  {% endfor %}
</div>

<!-- Pagination -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<div class="navigation" role="navigation">
    {% include pagination.html %}
</div>
</div>
